<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--
     1、获取电影的分类列表，可以渲染出电影的分类
     2、根据电影分类，获取电影的列表
     3、根据电影名称，获取电影的详细信息
     4、根据电影的详细信息，获取电影的评论内容
-->
<script type="text/javascript">
  // promise的改善原因
  // getAjax('moviesAll', function () {
  //   // 获取所有的分类
  //     getAjax('moviesClass', function () {
  //         // 根据分类获取，该分类下的电影
  //         getAjax('moviesName', function () {
  //            // 通过电影获取详细信息
  //             getAjax('moviesPinglun', function () {
  //                 // 通过详细信息获取电影评论
  //             })
  //         })
  //     })
  // })

    // promise
    // var p1 = $.get("url")
    // p1.then(function () {
    //
    // })

    // var p1 = new Promise((resolve) => {
    //
    // })
  // resolve -->解决问题 --> 事情异步成功完成
  // reject --> 拒绝 --> 事情异步操作失败
  var p1 = new Promise(function (resolve,reject) {
     if (true) {
         resolve("数据请求完成！")
     } else {
         reject("数据请求失败")
     }
  })
    console.log(p1)

    p1.then(function (res) {
        // console.log('成功完成')
        console.log(res)
    },function (err) {
        console.log(err)
    })
    p1.catch(function (err) {
        console.log("catch：",err)
    })
   // finally是没有参数的
     p1.finally(function (res) {
       console.log("finally：",res) //undefined
  })
</script>
</body>
</html>
